:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --fourth-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-button-color: #ffffff;
  --main-header-text-color: #212121;
  --second-header-text-color: #757575;
  --main-icon-color: #757575;
  --second-icon-color: #ffffff;
  --background-main-color: #f5f4fa;
  --background-second-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

button.button {
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
